@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Maru+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    

}


header {
    width: 100vw;
    height: 84px;
}

.logo {
    margin-top: 19px;
    margin-left: 99px;
}

main{
    display: flex;
    gap: 220px;
}

.mensagem__bemvindo {
    width: 243px;
    height: 90px;
    margin-top: 90px;
    margin-left: 235px;
    font-weight: 700;
    font-size: 34px;
    line-height: 42.67px;
    color: rgba(90, 103, 113, 1);
}

.img__capivara {
    width: 380px;
    height: 380px;
    margin-top: 31px;
    margin-left: 299px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 381px;
    height: 541px;
    padding-top: 35px;
}

.container__login {
    width: 85px;
    height: 90px;
    font-weight: 700;
    font-size: 34px;
    line-height: 42.67px;
    color: rgba(47, 174, 191, 1);
    padding: 0px 0px 10px 0px;
}

.container__form {
   height: 350px;
}

.container__input {
    display: flex;
    flex-direction: column;
    width: 381px;
    height: 350px;
    padding-top: 100px;
}

.container__area__input {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.area__input {
    height: 50px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(47, 174, 191, 1);
    padding-left: 8px;
}

input::placeholder {
    font-weight: 700;
    font-size: 20px;
    line-height: 42.67px;
    color: rgba(47, 174, 191, 1);
}

.input__enter {
    height: 50px;
    border-radius: 10px;
    background-color: rgba(47, 174, 191, 1);
    box-shadow: 0;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}

input[type="submit"] {
    font-weight: 700;
    font-size: 25px;
    line-height: 42.67px;
    color: rgba(255, 255, 255, 1);
}

.container__checkbox {
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: end;
    padding-bottom: 25px;
}

.container__checkbox--remember {
    display: flex;
    align-items: center;
    /* height: 42px;
    width: 150px; */
    padding-left: 7px;
    gap: 7px;
    
}

.quaquer{
    height: 20px;
    width: 20px;
}

label {
    font-weight: 700;
    font-size: 20px;
    line-height: 42.67px;
    color: rgba(0, 240, 255, 1);
    cursor: pointer;
}

a {
    font-weight: 700;
    font-size: 20px;
    line-height: 42.67px;
    text-decoration: none;
    color: rgba(243, 113, 45, 1);
}


@media screen and (max-width: 460px) {
   
    body {
    width: 100%;
   }

   
header {
    width: 100vw;
    height: 84px;
    text-align: center;
    padding-top: 25px;
}

.logo {
    margin-top: 0;
    margin-left: 0;
}

   main {
    flex-direction: column;
    width: 100%;
    gap: 72px;
    /* margin: 0 auto; */
   }

   .main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
/*  
   .mensagem__bemvindo .img__capivara {
    width: 5px;
    height: 5px;

   } */

   .mensagem__bemvindo {
    width: 21rem;
    height: 90px;
    margin-top: 60px;
    margin-left: 0;
    font-weight: 700;
    font-size: 45px;
}

    .img__capivara {
        width: 100px;
        height: 100px;
        margin-left: 0;
    }

    .container {
        width: 100%;   
    }

    .container__input {
        padding-top: 15px;
    }


}